// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "mocha"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-mixed-operators": 0,
    "no-tabs": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "no-prototype-builtins": 0,
    "no-plusplus": 0,
    "no-continue": 0,
    "no-console": 0,
    "no-restricted-syntax": 0,
    "class-methods-use-this": 0,
    "import/no-unresolved": 0,
    "strict": [2, "global"],
    "no-param-reassign": [2, {"props": false}],
    "comma-dangle": [2, "never"],
    "no-underscore-dangle": [0],
    "no-nested-ternary": 0,
    "prefer-arrow-callback": 0,
    "func-names": 0,
    "no-unused-expressions": 0,
    "max-len": [
      "error",
      100,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "script"
  },
  "globals": {
    "logger": true
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": ["**/testSetup.js", "**/*.test.js"],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": 0
      }
    }
  ]
}
